<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <title><%= title %></title>
  </head>
  <body>
    <%- include("navbar") %>
    <div class="container">
      <%- body %>
    </div>
    <script src="/jquery/jquery-3.6.0.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
