<h1>Ini contact page</h1>
<div class="row">
  <div class="col-md-12">
    <% if (msg.length !== 0 ) { %>
      <div class="alert alert-success" role="alert">
        <%= msg %>
      </div>
    <% } %>
    <a href="/contact/create/contact" class="btn btn-md btn-primary">Tambahkan data</a>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">Nomor</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
	  <% if (dataContact.length === 0 ) { %>
	    <tr>
	      <td colspan="5">
	        <div class="alert alert-danger fw-bold" role="alert">
		  Data tidak ada
  	        </div>
	      </td>
	    </tr>
	  <% } else { %>
	    <% dataContact.forEach((contact, i) => { i++ %>
              <tr>
                <th scope="row"i><%= i %></th>
                <td><%= contact.nama %></td>
                <td><%= contact.email %></td>
                <td><%= contact.nomor %></td>
                <td>
		  <a href="/contact/<%= contact.id %>" class="btn btn-md btn-success badge rounded-pill">
		    Lihat
		  </a>
		</td>
              </tr>
	    <% }) %>
	  <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
